[package]
name = "hivemind"
version = "0.0.1"
authors = ["Corey Montella <cmontella@live.com"]

[lib]
crate-type = ["staticlib"]

[dependencies]
volatile = "0.1.0"
rlibc = "1.0"
spin = "0.4.6"
multiboot2 = "0.1.0"
bitflags = "0.9.1"
x86_64 = "0.1.2"
once = "0.3.3"
linked_list_allocator = "0.5.0"
bit_field = "0.7.0"
raw-cpuid = "3.0.0"
mech = {git = "https://gitlab.com/mech-lang/core.git"}

[dependencies.lazy_static]
version = "0.2.4"
features = ["spin_no_std"]